/* main css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-dimm: #1C2942;
    --blue-mid: #2D3A54;
    --blue-mid-dark: #33415e;
    --blue-mid-light: #5B76A9;
    --blue-light: #384E77;
    --light-gray: #CBD0E2;
    --alert-red: #D72424;
    --red: #d63939;
    --yellow: #e9c306;
    --green: #20BA2F;
    --settings-button-off: #E2842D;
    --settings-button-on: #1570C3;
    --dropdown-dots-profile: #8C83B8;
    --dropdown-dots-profile-light: #b8afe7;
    --dropdown-bar: #9AA3C6;
    --timestamp-message: #4F5F81;
}

body, #root {
    background-color: var(--blue-dimm);
    margin: 0;
    overflow: hidden;
    max-width: 100vw;
}

#main {
}

* {
    -webkit-tap-highlight-color: transparent;
}

#sidebar-frame {
    height: 100vh;
    width: 85vw;
    opacity: .7;
    right: 0;
    position: fixed;
    background-color: black;
    transition: 300ms;
}

#sidebar-frame-col {
    display: none;
    height: 100vh;
    width: 85vw;
    opacity: 0;
    right: 0;
    position: fixed;
    background-color: black;
    transition: 300ms;
}

#sidebar {
    background-color: var(--blue-dimm);
    width: 60vw;
    height: calc(100vh - 16vw);
    border-right: 1px solid var(--blue-mid);
    position: fixed;
}

#sidebar-col {
    background-color: var(--blue-dimm);
    width: 15vw;
    height: calc(100vh - 16vw);
    position: fixed;
    border-right: 1px solid var(--blue-mid);   
}

#content {
    position: fixed;
    background-color: inherit;
    width: 85vw;
    height: 100vh;
    right: 0;
}

.content-border-l {
    border-left: 1px var(--blue-mid) solid;
}

.images-frame {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.images-main {
    flex: 70%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.images-side {
    flex: 30%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.images-file {
    vertical-align: middle;
    border-radius: 1.5vw;
    padding: 15%;
    margin: .5vw;
    margin-left: .4vw;
    width: calc(70% - 2vw);
    height: max-content;
    border: .5vw dashed var(--blue-mid);
    fill: var(--blue-mid-light);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.images-file:hover {
    border: 0.5vw dashed var(--light-gray);
    fill: var(--light-gray);
}

.images-frame img {
    vertical-align: middle;
    border-radius: 1.5vw;
    margin: 0.5vw;
    border: 0.5vw solid var(--blue-mid);
    width: calc(100% - 2vw);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.images-frame img:hover {
    border-color: var(--blue-mid-light);
}

.eq-bar {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 0.6vw;
    background-color: var(--light-gray);
    transition: 50ms;
}

.invite {
    color: var(--dropdown-dots-profile-light);
    cursor: pointer;
}

#version {
    position: absolute;
    font-family: 'DM Mono', monospace;
    font-size: 2vw;
    color: var(--blue-light);
    bottom: 0;
    right: 2vw;
    text-align: right;
}

img {
    background-color: var(--blue-light);
    /* animation: loadingImg 0.4s linear infinite alternate; */
}

@keyframes loadingImg {
    0% {
        background-color: var(--blue-light);
    }

    100% {
        background-color: var(--light-gray);
    }
}

/* popups */

.alert {
    position: absolute;
    display: inline-flex;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-top: 0.5vw;
    padding-bottom: 0.7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 4vw;
    cursor: pointer;
    margin-left: 50vw;
    transform: translateX(-50%);
    box-shadow: 0.3vw 0.3vw 1vw 0vw rgba(0, 0, 0, 0.342);
}

.alert-t-error {
    background-color: var(--alert-red);
    color: #fff;
    transition: 0;
}

.alert-t-warning {
    background-color: var(--yellow);
    color: #fff;
    transition: 0;
}

.alert-t-message {
    background-color: var(--light-gray);
    color: var(--blue-light);
    transition: 0;
}

.alert-t-success {
    background-color: var(--green);
    color: #fff;
    transition: 0;
}

.alert-show {
    top: 3vw;
    opacity: 1;
    transition: 800ms;
}

.alert-hide {
    top: -5vw;
    opacity: 0;
    transition: 800ms;
}

.popup-income {
    top: 40%;
    position: absolute;
    margin-left: 30vw;
    width: 20vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4vw;
    box-shadow: 0 0 1vw 0.2vw rgba(0, 0, 0, 0.301);
    user-select: none;
    -webkit-app-region: no-drag;
}

.popup-income-name {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: 10vw;
    color: #fff;
}

.popup-income-accept {
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: 13vw;
    margin-left: 2vw;
    fill: #fff;
    padding: 1vw;
    background-color: var(--green);
    border-radius: 50%;
    cursor: pointer;
}

.popup-income-close {
    position: absolute;
    margin-left: 16vw;
    margin-top: 2vw;
    width: 2vw;
    height: 2vw;
    fill: var(--light-gray);
    cursor: pointer;
}

.popup-income-decline {
    position: absolute;
    width: 3vw;
    padding: 1vw;
    height: 3vw;
    margin-top: 13vw;
    margin-left: 13vw;
    fill: #fff;
    border-radius: 50%;
    background-color: var(--red);
    cursor: pointer;
    transform: rotate(135deg);
}

.popup-income-avatar {
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-left: 6vw;
    margin-top: 2vw;
    -webkit-user-drag: none;
    user-drag: none;
}

#popup-body {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 300ms;
    justify-content: center;
    user-select: none;
}

#popup-file-image-frame {
    top: 40vh;
    left: 50vw;
    position: absolute;
    height: 40vh;
    width: 80vw;
    align-items: center;
    user-select: none;
    transform: translate(-50%, -50%);
}

#popup-file-prev {
    position: absolute;
    fill: var(--light-gray);
    cursor: pointer;
    transition: 200ms;
    width: 10vw;
    height: 10vw;
    left: 14vw;
    top: 45vw;
    rotate: 180deg;
    user-select: none;
}

#popup-file-next {
    position: absolute;
    fill: var(--light-gray);
    cursor: pointer;
    transition: 200ms;
    width: 10vw;
    height: 10vw;
    right: 14vw;
    top: 45vw;
    user-select: none;
}

#popup-file-next:hover, #popup-file-prev:hover {
    opacity: 0.7;
}


#popup-file-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-width: 20%;
    min-height: 20%;
    border: 0;
    border-radius: 1.5vw;
    zoom: 1;
}

#popup-file-close {
    display: none;
    position: absolute;
    fill: var(--light-gray);
    border-radius: 50%;
    right: -10vw;
    top: -3vw;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    transition: 200ms;
}

#popup-file-close:hover {
    opacity: 0.7;
}

#popup-file-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: min-content;
    height: min-content;
    min-width: 30vw;
    min-height: 30vw;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 3vw;
    background-color: var(--light-gray);
}

#popup-newpost-body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 60vw;
    margin-top: 40%;
    background-color: var(--blue-dimm);    
    border-radius: 5vw;
}

#popup-newpost-body input {
    display: inline-block;
    background-color: var(--blue-mid);
    height: 7vw;
    width: 52vw;
    border: 0;
    color: var(--light-gray);
    margin-top: 2vw;
    margin-left: 2vw;
    border-radius: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#popup-newpost-attach {
    display: inline-block;
    position: absolute;
    margin-left: 1.4vw;
    margin-top: 2vw;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

#popup-newpost-attach #attach {
    position: absolute;
    width: 7vw;
    height: 7vw;
    padding: 0.7vw;
    border-radius: 50%;
    background-color: var(--blue-light);
    fill: var(--light-gray);
    transition: 200ms;
}

#popup-newpost-attach #clear {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    transition: 200ms;
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    border: 0.3vw solid transparent;
}

#popup-newpost-attach #count {
    text-align: center;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    width: fit-content;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    min-width: 0.9vw;
    height: 1.5vw;
    border-radius: 1.5vw;
    transition: 200ms;
    margin-top: -0.5vw;
    margin-left: 3vw;
    background-color: var(--blue-light);
    border: 0.3vw solid var(--blue-dimm);
    color: var(--light-gray);
}

#popup-newpost-attach:hover #count {
    background-color: var(--light-gray);
    color: var(--blue-mid);
}

#popup-newpost-attach:hover #clear {
    background-color: var(--light-gray);
    border: 0.3vw solid var(--blue-dimm);
    fill: var(--blue-dimm);
    stroke: var(--blue-dimm);
}

#popup-newpost-attach #clear:hover {
    background-color: var(--red);
    fill: #fff;
    stroke: #fff;
}

#popup-newpost-attach:hover #attach {
    background-color: var(--light-gray);
    fill: var(--blue-light);
}

#popup-newpost-body #submit {
    display: inline-block;
    width: 7vw;
    height: 7vw;
    margin-top: 2vw;
    position: absolute;
    margin-left: 0.8;
    padding: 0.7vw;
    border-radius: 50%;
    background-color: var(--blue-light);
    fill: var(--light-gray);
    stroke: var(--light-gray);
    transition: 200ms;
    cursor: pointer;
    right: 2vw;
}

#popup-newpost-body #submit:hover {
    background-color: var(--green);
    fill: #fff;
    stroke: #fff;
}

#popup-newpost-dropfield {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    height: 32.5vw;
    width: 46vw;
}

#popup-newpost-drop {
    right: 2vw;
    bottom: 2vw;
    position: absolute;
    color: var(--light-gray);
    border-radius: 4vw;
    height: 32.5vw;
    width: 46vw;
    border-radius: 2vw;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    user-select: none;
    text-align: center;
}

#popup-newpost-body textarea {
    background-color: var(--blue-mid);
    color: var(--light-gray);
    border: 0;
    border-radius: 4vw !important;
    height: 43.5vw;
    width: 72vw;
    margin-top: 3vw;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0;
    resize: none;
    padding-top: 1.5vw;
    font-size: 3.5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#popup-newpost-submit {
    position: absolute;
    width: 12vw;
    height: 5vw;
    background-color: var(--blue-light);
    color: var(--light-gray);
    font-size: 3.5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    border-radius: 2vw;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 200ms;
    margin-top: 2vw;
    margin-left: 36vw;
    padding-top: 0.7vw;
}

#popup-newpost-submit:hover {
    background-color: var(--green);
    color: #fff;
}

#popup-newpost-body ::placeholder {
    color: var(--light-gray);
    opacity: 0.5;
}

#popup-newpost-body input:focus, textarea:focus {
    outline: none;
    border: 0;
}

#popup-confirm-body {
    position: absolute;
    margin: auto;
    width: auto;
    height: 21vw;
    margin-top: 40vh;
    margin-left: 50vw;
    transform: translateX(-50%);
    background-color: var(--blue-light);
    text-align: center;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    border-radius: 5vw;
    user-select: none;
    box-shadow: 0vw 0vw 3vw rgba(0, 0, 0, 0.5);
}

#popup-confirm-body p {
    font-size: 6vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    margin: 1vw;
    color: var(--light-gray);
}

#popup-confirm-no {
    position: absolute;
    font-size: 6vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    margin-left: 6vw;
    margin-top: 1.2vw;
    cursor: pointer;
    background-color: var();
    padding: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 2vw;
    background-color: var(--red);
    color: #fff;
    transition: 200ms;
}

#popup-confirm-no:hover {
    background-color: var(--red);
    color: #fff;
}

#popup-confirm-yes {
    position: absolute;
    font-size: 6vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    margin-left: 21.5vw;
    margin-top: 1.2vw;
    border-radius: 2vw;
    cursor: pointer;
    padding: 1vw;
    background-color: var(--green);
    color: #fff;
    transition: 200ms;
}

#popup-confirm-yes:hover {
    color: var(--green)
}

textarea::-webkit-scrollbar {
    width: 0.5vw;
    padding-right: 2vw;
    cursor: pointer;
}
  
textarea::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: var(--blue-light);
    margin-right: 2vw;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-mid-light);
}

textarea::-moz-scrollbar {
    width: 0.5vw;
    padding-right: 2vw;
    cursor: pointer;
}
  
textarea::-moz-scrollbar-thumb {
    border-radius: 1vw;
    background-color: var(--blue-light);
    margin-right: 2vw;
}

textarea::-moz-scrollbar-thumb:hover {
    background-color: var(--blue-mid-light);
}

/* settings */

#settings-notify {
    position: absolute;
    margin-top: 76vw;
    margin-left: 7vw;
    font-size: 3.5vw;
    line-height: 5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--light-gray);
    transition: 200ms;
    cursor: pointer;
}

#settings-notify-button {
    position: absolute;
    margin-left: -4vw;
    margin-top: -0.1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 1.2vw;
}

#settings-notify .on {
    transition: 200ms;
    background-color: var(--settings-button-on);
    border: .8vw solid var(--settings-button-on);
}

#settings-notify .off {
    transition: 200ms;
    border: .8vw solid var(--light-gray);
}

#settings-notify .off:hover {
    background-color: var(--light-gray);
    border: .8vw solid var(--light-gray);
}

.settings-button {
    width: 8vw;
    height: 4vw;
    transition: 300ms;
    border-radius: 3.5vw;
    cursor: pointer;
    margin-bottom: 3.5vw;
}

.settings-button-on {
    background-color: var(--settings-button-on);
}

.settings-button-off {
    background-color: var(--settings-button-off);
}

.settings-button-circle {
    width: 4vw;
    height: 4vw;
    fill: var(--light-gray);
    border: 0;
    transition: inherit;
}

.settings-button-circle-right {
    margin-left: 4vw;
}

.settings-title {
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2vw;
}

.settings-text {
    font-size: 3.5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--light-gray);
    margin-top: 1vw;
    margin-bottom: 3.8vw;
}

.settings-text-small {
    position: absolute;
    font-size: 2.5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--blue-light);
    margin-top: 0vw;
    user-select: none;
}

#settings-text-frame {
    margin-left: 3vw;
    width: 50vw;
}

#settings-interact-frame-1 {
    margin-top: 14vw;
    margin-left: 15vw;
    width: 40vw;
}

#settings-frame {
    display: flex;
}

.settings-change {
    position: absolute;
    background-color: none;
    border: 0;
    border-radius: 1vw;
    margin-left: 48vw;
    font-family: 'Rubik', sans-serif;
    font-size: 3vw;
    width: 30vw;
    display: flex;
    height: 4.3vw;
}

#settings-change-id {
    margin-top: 46vw;
    width: 40vw;
}

#settings-change-input-id {
    padding-left: 3vw;
    width: 22vw;
    font-family: 'DM Mono', monospace;
}

#settings-change-status {
    margin-top: 54vw;
    width: 40vw;
}

#settings-change-name {
    margin-top: 62vw;
    width: 40vw;
}

.settings-change-input {
    background-color: var(--blue-mid);
    border-radius: inherit;
    padding-left: 1vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    border: 0;
    color: var(--blue-mid-light);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 24vw;
}

.settings-change-input:focus {
    border: 0;
    outline: none;
    background-color: var(--blue-mid);
    color: var(--blue-mid-light);
}

.settings-change-id-symb {
    position: absolute;
    color: var(--blue-mid-light);
    font-family: 'DM Mono', monospace;
    font-size: inherit;
    font-weight: inherit;
    margin-top: 0.3vw;
    margin-left: 1vw;
}

.settings-change-submit {
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: 0;
    width: 6vw;
    height: inherit;
    background-color: var(--blue-light);
    margin-left: 1.5vw;
    border-radius: inherit;
    color: var(--light-gray);
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    text-align: center;
}

.settings-change-submit p {
    margin-top: 0.3vw;
}

.settings-change-submit:hover {
    background-color: var(--light-gray);
    color: var(--blue-light);
}

.click {
    margin-top: 3vw;
}

::placeholder {
    color: var(--blue-mid-light);
}

#settings-logout {
    position: absolute;
    width: 20.5vw;
    height: 7.5vw;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--light-gray);
    background-color: var(--blue-mid);
    border-radius: 6vw;
    margin-top: 74vw;
    margin-left: 60vw;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
}

#settings-logout p {
    margin-top: 1.4vw;
    margin-left: 2.1vw;
}

#settings-logout:hover {
    background-color: var(--red);
    color: #fff;
}

.settings-logout-click {
    top: 0.2vw;
    opacity: 0.7;
}

/* buttons */

.menu-button {
    width: 25vw;
    height: 14vw;
    cursor: pointer;
    transition: 100ms;
    padding: 1vw;
}

#buttons-bar {
    position: fixed;
    bottom: 0;
    background-color: var(--blue-light);
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.menu-button-unactive:hover {
    background-color: var(--blue-mid-light);
}

.menu-button-active {
    background-color: var(--light-gray);
}

.menu-button-logo {
    width: 100%;
    height: 100%;
    transition: inherit;
}

.menu-button-logo-active {
    fill: var(--blue-light);
}

.menu-button-logo-unactive {
    fill: var(--light-gray);
}

#menu-button-profile {
    padding-bottom: 1vw;
}


/* side bar */

#sidebar-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    width: 40vw;
    margin: auto;
    margin-top: 40vh;
    color: var(--blue-light);
    text-align: center;
    user-select: none;
}

#sidebar-search {
    width: 58vw;
    height: 7vw;
    background-color: var(--blue-mid);
    border-radius: 3vw;
    margin: auto;
    margin-top: 1vw;
    margin-left: 1vw;
    transition: 300ms;
}

#sidebar-search-icon {
    fill: var(--light-gray);
    margin-top: 1.2vw;
    margin-left: 1vw;
    width: 5vw;
    height: 5vw;
    transition: 300ms;
}

#sidebar-search-col {
    width: 13vw;
    height: 13vw;
    background-color: var(--blue-mid);
    border-radius: 3vw;
    margin: auto;
    margin-top: 1vw;   
    transition: 300ms;
}

#sidebar-search-icon-col {
    fill: var(--light-gray);
    margin: 2vw;
    width: 9vw;
    height: 9vw;
    transition: 300ms;
}

.sidebar-unread1 {
    position: absolute;
    background-color: var(--light-gray);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 50vw;
    margin-top: 5vw;
    transition: 300ms;
}

.sidebar-unread2 {
    position: absolute;
    background-color: var(--blue-light);
    min-width: 3vw;
    width: fit-content;
    height: 3vw;
    border-radius: 2vw;
    margin-left: 50vw;
    margin-top: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    color: var(--light-gray);
    text-align: center;
    padding-left: .7vw;
    padding-right: .7vw;
    transition: 300ms;
}

.sidebar-unread1-col {
    position: absolute;
    background-color: var(--light-gray);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 8.5vw;
    margin-top: 8.5vw;
    transition: 300ms;
}

.sidebar-unread2-col {
    position: absolute;
    background-color: var(--blue-light);
    min-width: 3vw;
    width: fit-content;
    height: 3vw;
    border-radius: 2vw;
    margin-left: 8.5vw;
    margin-top: 8.5vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    color: var(--light-gray);
    text-align: center;
    padding-left: .7vw;
    padding-right: .7vw;
    transition: 300ms;
}

#sidebar-search-input {
    position: absolute;
    background-color: var(--blue-mid);
    width: 45vw;
    height: 6vw;
    border: 0;
    outline: none;
    padding: 0.5vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 3.2vw;
    font-weight: 600;
    color: var(--light-gray);
    transition: 300ms;
}

#sidebar-search-input:focus {
    border: 0;
    outline: none;
} 

#sidebar-search-input::placeholder {
    color: var(--light-gray);
    opacity: 0.5;
}

.sidebar-chat-separator {
    width: 31vw;
    height: 0.1vw;
    background-color: var(--blue-mid);
    margin-bottom: 2vw;
}

.sidebar-chat {
    width: 58vw;
    height: 13vw;
    border-radius: 4vw;
    cursor: pointer;
    margin-bottom: 1vw;
    transition: 300ms;
}

.sidebar-chat-col {
    width: 13vw;
    height: 13vw;
    border-radius: 4vw;
    cursor: pointer;
    margin-bottom: 1vw;
    transition: 300ms;    
}

.sidebar-chat-selected {
    background-color: var(--blue-mid);
}

.sidebar-chat-logo {
    position: absolute;
    margin: 1.5vw;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    font-size: 7.7vw;
    transition: 200ms;
}

.sidebar-chat-muted {
    position: absolute;
    fill: var(--light-gray);
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    opacity: 0.7;
}

.sidebar-chat-name {
    position: absolute;
    font-size: 3.5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 2vw;
    margin-left: 14vw;
    transition: 300ms;
}

.sidebar-chat-descr {
    position: absolute;
    font-size: 2.5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 7.5vw;
    margin-left: 14vw;
    color: var(--light-gray);
    width: 35vw;
    height: 4vw;
    overflow-x: hidden;
    word-wrap: break-word;
}

#sidebar-chats {
    width: 36vw;
    margin-top: 2vw;
    margin-left: 1vw;
}

#sidebar-chats-col {
    width: 12vw;
    margin-top: 2vw;
    margin-left: 1vw;
}

#sidebar-chat-online {
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: var(--green);
    border-radius: 50%;
    margin-left: 8.5vw;
    margin-top: 1.4vw;
}

#sidebar-newroom {
    position: absolute;
    width: 6vw;
    height: 6vw;
    padding: 2vw;
    border-radius: 50%;
    background-color: var(--blue-light);
    fill: var(--light-gray);
    bottom: 4vw;
    margin-left: 46vw;
    transition: 300ms;
    cursor: pointer;
}

#sidebar-newroom:hover {
    background-color: var(--green);
    fill: #fff;
}
 
/* contacts */

#contacts-select {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 6vw;
    color: var(--blue-light);
    text-align: center;
    width: 70vw;
    margin-top: 44vw;
    user-select: none;
}

#contacts-top {
    position: absolute;
    width: 85vw;
    height: 11.5vw;
    background-color: var(--blue-mid);
}

#contacts-dropdown-dots {
    position: absolute;
    margin-top: 2.75vw;
    margin-left: 3vw;
    width: auto;
    height: 6vw;
    cursor: pointer;
}

.contacts-dropdown-dots-up {
    transition: 200ms;
    fill: var(--light-gray);
}

.contacts-dropdown-dots-up:hover {
    opacity: 0.7;
}

.contacts-dropdown-dots-down {
    transition: 0;
    fill: var(--blue-light);
}

.contacts-dropdown-menu {
    position: absolute;
    width: 12vw;
    background-color: var(--light-gray);
    height: 36vw;
    padding-top: 5vw;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
}

.contacts-dropdown-item {
    display: block;
    margin: auto;
    fill: var(--blue-light);
    stroke: var(--blue-light);
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    margin-bottom: 2vw;
    transition: 200ms;
}

.contacts-dropdown-block:hover, .contacts-dropdown-delete:hover {
    fill: var(--red);
    stroke: var(--red);
}

.contacts-dropdown-notify2 {
    padding-left: 0.3vw;
}

.contacts-dropdown-edit:hover, .contacts-dropdown-notify:hover, .contacts-dropdown-notify2:hover {
    opacity: 0.8;
}

.contacts-dropdown-add:hover, .contacts-dropdown-unblock:hover {
    fill: var(--green);
    stroke: var(--green);
}

#contacts-dropdown-bar {
    background-color: var(--dropdown-bar);
    width: 7vw;
    margin: auto;
    display: block;
    height: 0.2vw;
    margin-top: 6vw;
    margin-bottom: 2.5vw;
}

#contacts-history {
    position: absolute;
    overflow-y: scroll;
    width: 85vw;
    height: calc(100vh - 40vw);
    margin-top: 11.5vw;
    padding-bottom: 7vw;
}

#contacts-mute {
    position: absolute;
    margin-left: 67vw;
    margin-top: 3vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    transition: 200ms;
    fill: var(--light-gray);
}

#contacts-mute:hover {
    opacity: 0.7;
}

#contacts-call {
    position: absolute;
    margin-left: 76vw;
    margin-top: 2.5vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    transition: 200ms;
}

.contacts-call-unactive {
    fill: var(--light-gray);
    margin-top: 1.4vw;
}

.contacts-call-unactive:hover {
    opacity: 0.7;
}

.contacts-call-active {
    transform: rotate(135deg);
    fill: var(--light-gray);
    margin-top: 1.6vw;
}
.contacts-call-active:hover {
    fill: var(--red);
}

.time {
    padding-top: 0.2vw;
    display: flex;
    cursor: default;
}

.contacts-message-boundary {
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 4.5vw;
    padding-top: 1vw;  
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    border-radius: 3vw;
    width: 80vw;
}

.contacts-message-boundary:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.contacts-date {
    font-size: 3vw;
    width: fit-content;
    position: absolute;
    color: var(--blue-light);
    font-family: 'Rubik';
    margin: 1.5vw;
    margin-left: 6vw;
    margin-top: 0vw;
    transition: 200ms;
    opacity: 0;
}

.contacts-message-delete {
    transition: 200ms;
    fill: var(--blue-light);
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin-left: -4.5vw;
}

.contacts-message-delete:hover {
    fill: var(--alert-red);
}

.contacts-message-boundary:hover .contacts-date {
    opacity: 1;
}

.contacts-message-boundary:hover .contacts-message-delete {
    opacity: 1;
}


.contacts-message-r .files {
    right: 1vw;
}

.contacts-message-r {
    background-color: var(--blue-light);
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: 1vw;
    margin-top: 1vw;
    min-width: 5vw;
    max-width: 55vw;
    padding-top: 2vw;
    padding-bottom: .5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 4vw;
}

.contacts-message-r .say {

}

.contacts-message-r .map {
    border: 0;
    display: block;
    margin: auto;
    border-radius: 2vw;
    width: 50vw;
    height: 50vw;
    margin-bottom: 1vw;
}

.contacts-message-r .text {
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 50vw;
    word-wrap: break-word;
    font-family: 'Rubik', sans-serif;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.contacts-message-r .images-frame {
    display: flex;
    max-width: 50vw;
    flex-wrap: wrap;
    user-select: none;
    margin-bottom: 1vw;
}

.contacts-message-r .images-main {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.contacts-message-r .images-side {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.contacts-message-r .images-file {
    align-content: center;
    vertical-align: middle;
    border-radius: 1.5vw;
    margin: 0.5vw;
    width: 4vw;
    height: fit-content;
    padding: 0;
    border: 0;
    fill: var(--blue-mid-light);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.contacts-message-r .images-file:hover {
    fill: var(--light-gray);
}

.contacts-message-r img {
    vertical-align: middle;
    border-radius: 2.5vw;
    margin: 1vw;
    border: 0;
    width: calc(100% - 2vw);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.contacts-message-r img:hover {
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.144);
}

.contacts-message-r .time {
    font-family: 'DM Mono', monospace;
    font-size: 2vw;
    font-weight: 400;
    color: var(--timestamp-message);
    position: absolute;
    margin-top: 1vw;
    text-align: right;
    right: 4.5vw;
}

.contacts-message-r .unread {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: var(--light-gray);
    border-radius: 50%;
    margin-left: -2vw;  
    margin-top: -1.5vw;
}

.contacts-message-l {
    background-color: var(--blue-mid);
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 1vw;
    min-width: 5vw;
    max-width: 55vw;
    padding-top: 2vw;
    padding-bottom: .5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 4vw;
}

.contacts-message-l .map {
    border: 0;
    border-radius: 2vw;
    margin-bottom: -0.5vw;
    width: 50vw;
    height: 50vw;
    margin-bottom: 1vw;
}

.contacts-message-l .text {
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 50vw;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Rubik', sans-serif;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.contacts-message-l .images-frame {
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    margin-bottom: 1vw;
}

.contacts-message-l .images-main {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.contacts-message-l .images-side {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.contacts-message-l .images-file {
    align-content: center;
    vertical-align: middle;
    border-radius: 1.5vw;
    margin: 0.5vw;
    width: 4vw;
    height: fit-content;
    padding: 0;
    border: 0;
    fill: var(--blue-mid-light);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.contacts-message-l .images-file:hover {
    fill: var(--light-gray);
}

.contacts-message-l img {
    vertical-align: middle;
    border-radius: 2.5vw;
    margin: 1vw;
    border: 0;
    width: calc(100% - 2vw);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.contacts-message-l img:hover {
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.144);
}

.contacts-message-l .time {
    font-family: 'DM Mono', monospace;
    font-size: 2vw;
    font-weight: 400;
    color: var(--timestamp-message);
    position: absolute;
    margin-top: 1vw;
    text-align: right;
    left: 4.5vw;
}

#contacts-dropdown-dots-up:hover {
    opacity: 0.7;
}

#contacts-top-profile {
    display: -moz-flex;
    display: flex;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    margin-top: .5vw;
}

#contacts-top-profile p {
    color: #fff;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: 2.5vw;
    margin-left: 1.5vw;
}

.contacts-top-avatar {
    width: 8vw;
    height: 8vw;
    margin-top: 2vw;
    border-radius: 50%;
    font-size: 6vw;
}

.contacts-top-avatar-online {
    border: .6vw solid var(--green);
    box-sizing: border-box;
    border-radius: 50%;
}

#contacts-bottom {
    position: absolute;
    width: 80vw;
    margin-left: 2.5vw;
    background-color: var(--blue-mid);
    border-radius: 4vw;
    height: fit-content;
}

#contacts-eq {
    position: absolute;
    width: 42vw;
    margin-left: 10vw;
    top: 0;
    height: 6vw;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

#contacts-bottom-textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 4vw;
    font-weight: 500;
    height: 4vw;
    color: var(--light-gray);
    border: 0;
    background-color: var(--blue-mid);
    width: 63vw;
    resize: none;
    padding: 0;
    margin-top: 1.7vw;
    margin-bottom: 0.9vw;
    margin-left: 2vw;
}

#contacts-bottom-textarea::placeholder {
    font-family: 'Quicksand', sans-serif;
    color: var(--light-gray);
    opacity: 0.5;
    border: 0;
    outline: none;
}

#contacts-bottom-textarea:focus {
    border: 0;
    outline: none;
}

@keyframes recording {
    0%{fill: var(--light-gray)}
    50%{fill: #d34a4a}
    100%{fill: var(--light-gray)}
}

.contacts-rec {
    animation: recording 3s;
    animation-iteration-count: infinite;
}

#contacts-bottom-2 {
    position: absolute;
    right: 1vw;
    margin-top: 2vw;
    height: 5vw;
    width: 5vw;
    fill: var(--light-gray);
    transition: 200ms;
    cursor: pointer;
}

#contacts-attach {
    position: absolute;
    right: 7.5vw;
    top: 1vw;
    height: 5vw;
    width: 5vw;
    fill: var(--light-gray);
    transition: 200ms;
    cursor: pointer;
}

#contacts-attach #attach {
    position: absolute;
    width: 5.5vw;
    height: 5.5vw;
    padding: 0.7vw;
    border-radius: 50%;
    fill: var(--light-gray);
    transition: 200ms;
}

#contacts-attach #clear {
    display: none;
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    transition: 200ms;
    margin-top: 0.5vw;
    margin-left: 2.5vw;
    border: 0.4vw solid transparent;
}

#contacts-attach #count {
    text-align: center;
    position: absolute;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    width: fit-content;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    min-width: 0.9vw;
    height: 3vw;
    border-radius: 1.5vw;
    transition: 200ms;
    margin-top: 0.3vw;
    margin-left: 3.5vw;
    border: 0.4vw solid var(--blue-mid);
    background-color: var(--blue-light);
    color: var(--light-gray);
}

#contacts-attach #count {
    background-color: var(--light-gray);
    color: var(--blue-mid);
}

#contacts-bottom-bar {
    position: absolute;
    margin-left: 1vw;
    margin-top: 2vw;
    height: 5.5vw;
    width: .5vw;
    border-radius: 5vw;
    background-color: var(--light-gray);
    opacity: 0.2;
}

/* rooms */

.room-default-avatar {
    margin-top: 1.25vw;
    border-radius: 50%;
    background-color: var(--blue-mid-light);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

#rooms-dropdown-dots {
    position: absolute;
    margin-top: 2.75vw;
    margin-left: 3vw;
    width: auto;
    height: 6vw;
    cursor: pointer;
}

.rooms-dropdown-dots-up {
    transition: 200ms;
    fill: var(--light-gray);
}

.rooms-dropdown-dots-up:hover {
    opacity: 0.7;
}

.rooms-dropdown-dots-down {
    fill: var(--blue-light);
}

.rooms-dropdown-menu1 {
    position: absolute;
    height: 11.5vw;
    width: 12vw;
    background-color: var(--light-gray);
    transition: 200ms;
}

.rooms-dropdown-menu2 {
    position: absolute;
    height: 40vh;
    width: 68vw;
    background-color: var(--light-gray);
    transition: 200ms;
    border-radius: 3vw;
    border-top-right-radius: 0;
}

.rooms-dropdown-avatar {
    position: absolute;
    margin: 1.7vw;
    margin-left: 13vw;
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
    user-select: none;
    cursor: pointer;
    transition: 200ms;
    border-radius: 50%;
}

.rooms-dropdown-avatar:hover {
    opacity: 0.7;
}

#roooms-dropdown-members {
    position: absolute;
    height: calc(40vh - 10vw);
    width: 85vw;
    margin-top: 11.5vw;
}

.rooms-memeber {
    width: 66vw;
    margin: 1vw;
    height: 12vw;
    transition: 200ms;
    border-radius: 2vw;
}

.rooms-memeber:hover {
    background-color: var(--dropdown-bar);
}

.rooms-memeber-avatar {
    position: absolute;
    margin: 1.5vw;
    margin-left: 1vw;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    cursor: pointer;
}

.rooms-memeber-name {
    position: absolute;
    margin-left: 12vw;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--blue-light);
    margin-top: 3.5vw;
    width: 21vw;
    overflow: hidden;
}

.rooms-memeber-avatar-online {
    border: 1vw solid var(--green);
    box-sizing: border-box;
}

.rooms-memeber-admin-on {
    fill: var(--yellow);
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 57vw;
    margin-top: 2.8vw; 
}

.rooms-memeber-admin-off {
    fill: var(--blue-light);
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 57vw;
    margin-top: 2.8vw; 
}

.rooms-memeber-kick {
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    margin-left: 47vw;
    margin-top: 2.8vw;
    cursor: pointer;
    fill: var(--light-gray);
    transition: 200ms;
}
.rooms-memeber:hover .rooms-memeber-kick {
    fill: var(--blue-light);
}

.rooms-dropdown-name {
    position: absolute;
    height: 4vw;
    width: 35vw;
    margin-top: 3vw;
    margin-left: 22vw;
    border: 0;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--blue-light);
    background-color: var(--light-gray);
}

#rooms-dropdown-exit {
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    margin-top: calc(40vh - 9vw);
    margin-left: 58vw;
    fill: var(--dropdown-bar);
    cursor: pointer;
    transition: 200ms;
}

#rooms-dropdown-exit:hover, .rooms-dropdown-delete-admin:hover {
    cursor: pointer;
    fill: var(--red);
}

.rooms-dropdown-delete {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-top: calc(40vh - 9vw);
    margin-left: 2vw;
    fill: var(--dropdown-bar);
    transition: 200ms;
}

#rooms-dropdown-add {
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    margin-top: calc(40vh - 9vw);
    margin-left: 31vw;
    fill: var(--dropdown-bar);
    transition: 200ms;
}

#rooms-dropdown-add:hover {
    fill: var(--blue-mid-light);
    cursor: pointer;
}

.rooms-dropdown-name::placeholder {
    color: var(--blue-light);
}

.rooms-dropdown-name:focus {
    outline: none;
    border: 0;
}

.rooms-dropdown-notify {
    position: absolute;
    margin: auto;
    fill: var(--blue-light);
    stroke: var(--blue-light);
    margin-left: 60vw;
    margin-top: 3vw;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    margin-bottom: 2vw;
    transition: 200ms;
}

#rooms-dropdown-bar {
    position: absolute;
    margin-top: 11.5vw;
    width: 68vw;
    height: 0.2vw;
    background-color: var(--dropdown-bar);
}

.rooms-date {
    font-size: 3vw;
    width: fit-content;
    position: absolute;
    color: var(--blue-light);
    font-family: 'Rubik';
    margin: 2.2vw;
    margin-left: 6vw;
    margin-top: -4vw;
    transition: 200ms;
    opacity: 0;
}

.rooms-message-delete {
    transition: 200ms;
    fill: var(--blue-light);
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin-left: -4vw;
}

.rooms-message-boundary:hover .rooms-date {
    opacity: 1;
}

.rooms-message-boundary:hover .rooms-message-delete {
    opacity: 1;
}

.rooms-message-delete:hover {
    fill: var(--alert-red);
}

.rooms-message-boundary {
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 5vw;
    padding-top: 5.5vw;  
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    border-radius: 4vw;
}

.rooms-message-boundary:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.rooms-message-r .files {
    right: 1vw;
}

.rooms-message-r {
    background-color: var(--blue-light);
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: 4vw;
    padding-top: 3vw;
    padding-bottom: .5vw;
    padding-right: 3vw;
    padding-left: 2vw;
    border-radius: 4vw;
    border-top-right-radius: 0;
    max-width: 60vw;
}

.rooms-message-r .avatar {
    position: absolute;
    margin-top: -8vw;
    right: 2.5vw;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
}

.rooms-message-r .name {
    position: absolute;
    color: var(--light-gray);
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: right;
    margin-top: -8vw;
    right: 12vw;
}

.rooms-message-r .say {

}

.rooms-message-r .map {
    border: 0;
    display: block;
    margin: auto;
    border-radius: 2vw;
    width: 55vw;
    height: 55vw;
    margin-bottom: 1vw;
}

.rooms-message-r .text {
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 55vw;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Rubik', sans-serif;
    font-size: 4vw;
    margin-bottom: 1vw;
    min-width: 5vw;
}

.rooms-message-r .images-frame {
    display: flex;
    max-width: 55vw;
    flex-wrap: wrap;
    user-select: none;
    margin-bottom: 1vw;
}

.rooms-message-r .images-main {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.rooms-message-r .images-side {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.rooms-message-r .images-file {
    align-content: center;
    vertical-align: middle;
    border-radius: 1.5vw;
    margin: 0.5vw;
    width: 25vw;
    height: fit-content;
    padding: 0;
    border: 0;
    fill: var(--blue-mid-light);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.rooms-message-r .images-file:hover {
    fill: var(--light-gray);
}

.rooms-message-r img {
    vertical-align: middle;
    border-radius: 3vw;
    margin: 1vw;
    border: 0;
    width: calc(100% - 2vw);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.rooms-message-r img:hover {
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.144);
}

.rooms-message-r .time {
    font-family: 'DM Mono', monospace;
    font-size: 2vw;
    font-weight: 400;
    color: var(--timestamp-message);
    position: absolute;
    margin-top: 1vw;
    text-align: right;
    right: 9vw;
}

.rooms-message-r .unread {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--light-gray);
    border-radius: 50%;
    margin-left: -2.5vw;  
}

.rooms-message-l {
    background-color: var(--blue-mid);
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 4vw;
    padding-top: 3vw;
    padding-bottom: .5vw;
    padding-right: 2vw;
    padding-left: 3vw;
    border-radius: 4vw;
    border-top-left-radius: 0;
    max-width: 60vw;
}

.rooms-message-l .map {
    border: 0;
    border-radius: 2vw;
    width: 55vw;
    height: 55vw;
    margin-bottom: 1vw;
}

.rooms-message-l .avatar {
    position: absolute;
    margin-top: -8vw;
    left: 2.5vw;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
}

.rooms-message-l .name {
    position: absolute;
    color: var(--light-gray);
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: right;
    margin-top: -8vw;
    left: 12vw;
}

.rooms-message-l .text {
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 55vw;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Rubik', sans-serif;
    font-size: 4vw;
    margin-bottom: 1vw;
    min-width: 5vw;
}

.rooms-message-l .images-frame {
    max-width: 55vw;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    margin-bottom: 1vw;
}

.rooms-message-l .images-main {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.rooms-message-l .images-side {
    flex: 50%;
    flex-grow: 5%;
    flex-shrink: 5%;
}

.rooms-message-l .images-file {
    align-content: center;
    vertical-align: middle;
    border-radius: 1.5vw;
    margin: 0.5vw;
    width: 4vw;
    height: fit-content;
    padding: 0;
    border: 0;
    fill: var(--blue-mid-light);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.rooms-message-l .images-file:hover {
    fill: var(--light-gray);
}

.rooms-message-l img {
    vertical-align: middle;
    border-radius: 3vw;
    margin: 1vw;
    border: 0;
    width: calc(100% - 2vw);
    transition: 200ms;
    cursor: pointer;
    -webkit-user-drag: none;
}

.rooms-message-l img:hover {
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.144);
}

.rooms-message-l .time {
    font-family: 'DM Mono', monospace;
    font-size: 2vw;
    font-weight: 400;
    color: var(--timestamp-message);
    position: absolute;
    margin-top: 1vw;
    text-align: right;
    left: 9vw;
}


/* audio message */ 

.audio {
    width: 50vw;
    height: 10vw;
    border-radius: 2vw;
    margin-left: -.5vw;
}

.audio-button {
    position: absolute;
    width: 8vw;
    height: 8vw;
    fill: var(--light-gray);
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms;
    margin-top: .5vw;
}

.audio-button:hover {
    fill: #fff;
    background-color: var(--blue-mid-light);
}

.audio-time {
    position: absolute;
    width: fit-content;
    margin-left: 40vw;
    margin-top: 2.3vw;
    text-align: right;
    font-size: 3.5vw;
    font-family: 'Rubik';
    font-weight: 400;
    color: var(--light-gray)
}

.audio-bar {
    display: inline-block;
    --bar-width: 0%;
    -webkit-appearance: none;
    position: absolute;
    width: 27vw;
    height: 1vw;
    border-radius: 0.5vw;
    margin-left: 10vw;
    margin-top: 4vw;
    cursor: pointer;
}

.audio-bar::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, var(--light-gray) 0%, var(--light-gray) var(--bar-width), var(--blue-mid-light) var(--bar-width));
    height: 1vw;
    border-radius: 1vw;
}

.audio-bar::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    background-color: var(--light-gray);
    cursor: pointer;
    margin-top: -0.5vw;
    user-select: none;
    transition: 200ms;
}

.audio-bar:active::-webkit-slider-thumb {
    background-color: #fff;
    margin-top: -0.65vw;
    height: 2.3vw;
    width: 2.3vw;
}

/* profile */

#profile-bg {
    position: absolute;
    width: 100%;
    height: 15vw;
    background: linear-gradient(96.27deg, rgba(23, 89, 151, 0.5) 12.87%, rgba(80, 41, 162, 0.5) 66.53%);
}

.profile-avatar {
    position: absolute;
    width: 20vw;
    height: 20vw;
    margin-top: 5vw;
    margin-left: 5vw;
    border-radius: 50%;
    user-select: none;
    /* box-shadow: 0.4vw 0.4vw 1vw rgba(0, 0, 0, 0.205); */
}

#profile-avatar-edit {
    position: absolute;
    width: 3vw;
    height: 3vw;
    padding: 0.5vw;
    fill: var(--light-gray);
    background-color: var(--blue-light);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 17vw;
    margin-top: 15.5vw;
    transition: 200ms;
}

#profile-avatar-edit:hover {
    fill: var(--blue-light);
    background-color: var(--light-gray);
}

#profile-name {
    display: flex;
    position: absolute;
    font-size: 5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: 8.7vw;
    margin-left: 27vw;
    color: #fff;
}

#profile-online {
    background-color: var(--green);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-top: 2.2vw;
    margin-left: 1.5vw;
}

#profile-id {
    position: absolute;
    color: var(--blue-mid-light);
    font-family: 'DM Mono', monospace;
    font-size: 2.5vw;
    font-weight: 400;
    margin-top: 15.5vw;
    margin-left: 27vw;
}

#profile-dropdown-dots {
    position: absolute;
    margin-top: 2vw;
    margin-left: 76vw;
    width: auto;
    height: 6vw;
    cursor: pointer;
}

.profile-dropdown-dots-up {
    transition: 200ms;
    fill: var(--dropdown-dots-profile);
}

.profile-dropdown-dots-up:hover {
    fill: var(--dropdown-dots-profile-light);
}

.profile-dropdown-dots-down {
    fill: var(--blue-light);
}

.profile-dropdown-menu {
    position: absolute;
    width: 12vw;
    background-color: var(--light-gray);
    margin-left: 73vw;
    height: 36vw;
    padding-top: 5vw;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
}

.profile-dropdown-item {
    display: block;
    margin: auto;
    fill: var(--blue-light);
    stroke: var(--blue-light);
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    margin-bottom: 2.5vw;
    transition: 200ms;

}

.profile-dropdown-block:hover, .profile-dropdown-delete:hover {
    fill: var(--red);
    stroke: var(--red);
}

.profile-dropdown-notify2 {
    padding-left: 0.3vw;
}

.profile-dropdown-edit:hover, .profile-dropdown-notify:hover, .profile-dropdown-notify2:hover {
    opacity: 0.8;
}

.profile-dropdown-add:hover, .profile-dropdown-unblock:hover {
    fill: var(--green);
    stroke: var(--green);
}

#profile-dropdown-bar {
    background-color: var(--dropdown-bar);
    width: 7vw;
    margin: auto;
    display: block;
    height: 0.2vw;
    margin-top: 5vw;
    margin-bottom: 2.5vw;
}

#profile-newpost {
    position: absolute;
    height: 6vw;
    width: 20vw;
    background-color: var(--blue-light);
    color: var(--light-gray);
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 3.2vw;
    text-align: center;
    border-radius: 2vw;
    margin-top: 19vw;
    margin-left: 61vw;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
}

#profile-newpost p {
    margin-top: 1.3vw;
}

#profile-newpost:hover {
    background-color: var(--light-gray);
    color: var(--blue-light);
}

#profile-write {
    position: absolute;
    height: 5vw;
    width: 7vw;
    background-color: var(--blue-light);
    text-align: center;
    border-radius: 2vw;
    margin-top: 19vw;
    margin-left: 63vw;
    padding: .5vw;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    fill: var(--light-gray);
}

#profile-write:hover {
    background-color: var(--blue-mid-light);
    fill: #fff;
}

#profile-call {
    position: absolute;
    height: 4vw;
    width: 6vw;
    background-color: var(--blue-light);
    text-align: center;
    border-radius: 2vw;
    margin-top: 19vw;
    margin-left: 73vw;
    padding: 1vw;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    fill: var(--light-gray);
}

#profile-call:hover {
    background-color: var(--blue-mid-light);
    fill: #fff;
}

#profile-add {
    position: absolute;
    height: 6vw;
    width: 12vw;
    background-color: var(--blue-light);
    color: var(--light-gray);
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 3.2vw;
    text-align: center;
    border-radius: 2vw;
    margin-top: 19vw;
    margin-left: 69vw;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
}

#profile-add p {
    margin-top: 1vw;
}

#profile-add:hover {
    background-color: var(--green);
    color: #fff;
}

#profile-status {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 3.3vw;
    text-align: left;
    position: absolute;
    height: 6vw;
    min-width: 4vw;
    max-width: 35vw;
    background-color: var(--blue-mid);
    color: #fff;
    border-radius: 4vw;
    margin-top: 19vw;
    margin-left: 26vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#profile-status p {
    margin-top: 0.7vw;
}

#profile-status-input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    text-align: left;
    position: absolute;
    min-width: 4vw;
    height: auto;
    width: 27vw;
    opacity: 0.3;
    border-radius: 4vw;
    margin-top: 15.4vw;
    margin-left: 22.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border: 0;
    resize: none;
}

#profile-status-input:focus {
    border: 0;
    outline: none;
}

#profile-posts-bar {
    display: none;
    position: absolute;
    margin-top: -1.8vw;
    width: 62vw;
    margin-left: 4vw;
    transition: 200ms;
    height: 1px;
    background-color: var(--blue-mid);
}

#profile-posts {
    position: absolute;
    margin-top: 28vw;
    width: 85vw;
    height: calc(100vh - 45vw);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 2vw;
}

.profile-post {
    background-color: var(--blue-mid);
    width: 75vw;
    margin-bottom: 9vw;
    margin-left: 4vw;
    padding: 1vw;
    border-radius: 4vw;
    transition: 200ms;
}

::-webkit-scrollbar {
    border-radius: 4vw;
    width: 0.5vw;
}

#profile-posts:hover::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: var(--blue-mid);
}

#profile-posts::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-light);
}

::-moz-scrollbar {
    border-radius: 4vw;
    width: 0.5vw;
}

#profile-posts:hover::-moz-scrollbar-thumb {
    border-radius: 1vw;
    background-color: var(--blue-mid);
}

#profile-posts::-moz-scrollbar-thumb:hover {
    background-color: var(--blue-light);
}

.profile-post-avatar {
    height: 5vw;
    width: 5vw;
    margin: 1vw;
    border-radius: 50%;
}

.profile-post-time {
    position: absolute;
    display: inline-block;
    margin-left: 8vw;
    margin-top: -6vw;
    margin-bottom: 0.5vw;
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    font-size: 2.5vw;
    color: var(--blue-mid-light);
}

.profile-post-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: #fff;
    margin: 2.25vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
    word-wrap: break-word;
}

.profile-post-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 4vw;
    color: var(--light-gray);
    margin: 2.25vw;
    margin-top: 0;
    margin-bottom: 1vw;
    word-wrap: break-word;
}

.profile-post-imageframe {
    margin: 2.25vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.profile-post-delete {
    position: absolute;
    margin-left: 69vw;
    margin-top: -6vw;
    fill: var(--blue-dimm);
    width: 4.5vw;
    height: 4.5vw;
    cursor: pointer;
    opacity: 0.7;
    transition: 200ms;
}

.profile-post:hover .profile-post-delete {
    fill: var(--blue-dimm);
}

.profile-post:hover .profile-post-delete:hover {
    fill: var(--red);
    opacity: 1;
}

.profile-post-buttons {
    position: absolute;
    width: 9vw;
    height: 7vw;
    margin-top: 1vw;
    margin-left: 3vw;
    background-color: var(--blue-light);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.profile-post-share {
    position: absolute;
    fill: var(--light-gray);
    width: 3.8vw;
    height: 3.8vw;
    margin-left: 6.5vw;
    margin-top: 0.1vw;
    cursor: pointer;
    transition: 200ms;
}

.profile-post-liked {
    position: absolute;
    fill: var(--yellow);
    width: 6vw;
    height: 6vw;
    margin-left: 1.4vw;
    margin-top: 0.4vw;
    cursor: pointer;
    transition: 200ms;
}

.profile-post-likes {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 2.2vw;
    background-color: var(--light-gray);
    color: var(--blue-light);
    border-radius: 2vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    padding-bottom: 0.1vw;
    line-height: 2.2vw;
    margin-left: 5vw;
    text-align: left;
    user-select: none;
}

.profile-post-unliked {
    position: absolute;
    fill: var(--light-gray);
    width: 6vw;
    height: 6vw;
    margin-left: 1.4vw;
    margin-top: 0.4vw;
    cursor: pointer;
    transition: 200ms;
}

.profile-post-likes:hover {
    opacity: 0.7;
}

.profile-post-share:hover {
    opacity: 0.7;
}

.profile-post-liked:hover {
    opacity: 0.7;
}

.profile-post-unliked:hover {
    opacity: 0.7;
}

#profile-noposts {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: 8vw;
    color: var(--blue-light);
    user-select: none;
    width: 69vw;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30vh;
}

/* auth */

a {
    text-decoration: none;
    color: inherit;
}

#auth-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: var(--blue-mid-light);
    margin: auto;
    margin-top: 5vw;
    margin-left: 50%;
    transform: translateX(calc(-50% - 7.5vw));
    width: 60vw;
    height: 8vw;
    border-radius: 5vw;
    background-color: var(--blue-mid);
    text-align: center;
    line-height: 8vw;
    cursor: pointer;
    user-select: none;
    transition: 200ms;
}

#auth-button:hover {
    background-color: var(--blue-light);
    color: var(--light-gray);
}

#auth-button:hover .asb{
    color: #1280e0;
}

#auth-button:hover .asr{
    color: #d3362e;
}

#auth-button:hover .asy{
    color: #d6b333;
}

#auth-button:hover .asg{
    color: #39a352;
}

#auth-button span {
    transition: 200ms;
}

#auth-logo {
    margin: auto;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 15vw;
    user-select: none;
    text-align: center;
    margin-top: 15vw;
    margin-left: -15vw;
    width: 100vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#auth-logo p {
    margin-bottom: 0;
}

/* logo animation */

.css-selector {
    background: linear-gradient(45deg, #ca99bc, #5764d6);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}